<div class="post-nav">
  {% assign visible_posts = site.posts | where_exp: "post", "post.draft != true" %}
  {% assign prev_post = nil %}
  {% assign next_post = nil %}
  {% assign found = false %}
  {% for p in visible_posts %}
    {% if p.url == include.post.url %}
      {% assign found = true %}
    {% elsif found == false %}
      {% assign prev_post = p %}
    {% else %}
      {% assign next_post = p %}
      {% break %}
    {% endif %}
  {% endfor %}

  <span>
    {% if prev_post %}
      {% include icon.html icon="fa-solid fa-angle-left" %} Previous post<br>
      <a href="{{ prev_post.url | relative_url }}">{{ prev_post.title }}</a>
    {% endif %}
  </span>
  <span>
    {% if next_post %}
      Next post {% include icon.html icon="fa-solid fa-angle-right" %}<br>
      <a href="{{ next_post.url | relative_url }}">{{ next_post.title }}</a>
    {% endif %}
  </span>
</div>
